<script>
    const myCarousel = document.querySelector('#carouselFilmes');

    new bootstrap.Carousel(myCarousel, {
        interval: 4000,
        ride: "carousel"
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
