# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log

# Sistema operacional
.DS_Store
Thumbs.db

# IDEs / editores
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Build / temp
dist/
build/
